<script>
 $(document).ready(function()
     {
         $(".thumbnailimg").error(function(){
             $(this).attr('src', '{{asset('bundles/pumukitup2uwebtv/images/no_image.jpg')}}');
         });
     });
</script>
<!--Objeto multimedia-->
{% set col_mapper = {'1': 'col-md-12', '2': 'col-md-6', '3': 'col-md-4', '4': 'col-md-3'} %}
{% set col_class = ( col_mapper[cols|default('1')] | default(col_mapper['1'] ) ) %}

<div class="{{ col_class }}">
  <a href="{{ path('pumukit_webtv_multimediaobject_index', {'id': object.id}) }}" target="{{object.getProperty('redirect')?"_blank":"_self"}}">
    <div class="pumukit_mmobj">
      <div class="thumbnail">
        {% if object.getProperty('geant_type') == "external link" %}
          <span class="external_video_icon" alt="" ></span>
        {% elseif object.durationString == "0''" and object.getProperty('geant_type') == "external video player" %}
          <span class="play_icon" alt="" ></span>
        {% elseif object.durationString != "0''"%}
          <span class="video-duration">{{ object.durationString }}</span>
        {% endif %}
        <img alt="serial_pic" class="serial thumbnailimg" src="{{ object|first_url_pic(true) }}"/>
        <div class="thumbnailholder" ></div>
      </div>
      <div class="info-wrapper">
        <div class="info">
          <div class="title" title="{{object.description}}">
            <div class="ellipsedtext-parent">
              <div class="ellipsedtext-leftmargin"></div>
              <div class="ellipsedtext-testwrapper">
                <div class="ellipsedtext-text">
                  <div class="ellipsedtext-textstopper"></div>
                  <span class="mmobj_thumbnail_title">{{object.title | default('No title')|trans}}</span>
                  <div class="ellipsedtext-endtext"></div>
                </div>
              </div>
              <div class="ellipsedtext-overflowdetector">
                <div class="ellipsedtext-ellipse">...</div>
              </div>
            </div>
          </div>
          <div class="subtitle">
            {% if object.subtitle is not empty %}
              <div style="overflow:hidden;height:1.2em;text-overflow:ellipsis; width:100%;white-space: nowrap;" title="{{object.subtitle}}">{{object.subtitle}}</div>
            {% else %}
              <div style="overflow:hidden;height:1.2em;text-overflow:ellipsis; width:100%;white-space: nowrap;" title="{{object.series.title}}">{{object.series.title}}</div>
            {% endif %}
          </div>
          <p>
            <div class="date mmobj pull-left">
              {% trans %}Recorded:{% endtrans %}
              {% if object.getRecordDate()|date("Y") == "1970" %}
                  Unknown
              {% else %}
                  {{object.recordDate|date("d/m/Y")}}
              {% endif%}
            </div>
            <span class="mmobj-numviewed pull-right">
              {% set num_viewed = object.numview %}
              {% transchoice num_viewed %}
              {1} Viewed %num_viewed% time. |[0, Inf]Viewed %num_viewed% times
              {% endtranschoice %}
            </span>
          </p>
          <div class="clearfix"></div>
          <p class="date mmobj language">
            {% trans %}Language{% endtrans %}: {{ object.getDisplayTrack() ? (object.getDisplayTrack().getLanguage()|language_name) : ('Unknown'|trans) }}
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
