<!--INFO-->
<!--Multimedia object title-->
<div class="row" >
  <div class="col-xs-12">
    <h4>{{ multimediaObject.getTitle() }}</h4>
  </div>
</div>

<!--Multimedia object tags-->
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      {% include 'PumukitWebTVBundle:MultimediaObject:tags.html.twig' %}
    </div>
  </div>
  <div class="col-sm-6">
    <div class="pull-right">
      {% include 'PumukitRatingBundle:Rating:async.html.twig' with {'id': multimediaObject.id} %}
    </div>
    <!--VIEWED/DATE-->
    <div class="row">
      <div class="col-xs-12">
        <div class="date">
          {% if multimediaObject.getRecordDate()|date("Y") != "0000" %}
            {% trans %}Recording date{% endtrans %}: {{multimediaObject.getRecordDate().format("d/m/Y") }}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="num_views">
          {% trans %}Viewed{% endtrans %}: {{multimediaObject.getNumview() }}
          {% if multimediaObject.getNumview() > 1 %} {% trans %} times {% endtrans %}
          {% else %} {% trans %} time {% endtrans %} {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<!--SUBTITLE/DESCRIPTION-->
<div class="row">
  <div class="col-xs-12">
    <div class="mmobj-title">
      <h4>{{ multimediaObject.getSubtitle() }}</h4>
    </div>
    <p class="description">{{ multimediaObject.getDescription() }}</p>
  </div>
</div>
{# START DEBUG LINK #}
{% set url = multimediaObject.getTrackWithTag('geant_track').getUrl()|default(false) %}
{% if url %}
  <div class="row">
    <div class="col-xs-12">
      <details>
        <summary>ARIADNE Info</summary>
        <dl class="ariadne_data">
          <dt>{% trans %}Source url:{% endtrans %}</dt>
          <dd><a style="color:#337ab7" href="{{ url }}" target="_blank">{{ url }}</a></dd>
          <dt>{% trans %}ARIADNE ID:{% endtrans %}</dt>
          <dd>{{ multimediaObject.getProperty('geant_id') | default('~')}}</dd>
          <dt>{% trans %}ARIADNE provider:{% endtrans %}</dt>
          <dd>{{ multimediaObject.getSeries().getProperty('geant_provider') | default('~')}}</dd>
          <dt>{% trans %}ARIADNE repository:{% endtrans %}</dt>
          <dd>{{ multimediaObject.getSeries().getProperty('geant_repository') | default('~') }}</dd>
          <dt>{% trans %}ARIADNE license:{% endtrans %}</dt>
          <dd>{{ multimediaObject.getLicense() | default('~') }}</dd>
        </dl>
      </details>
    </div>
  </div>
{% endif %}
{# END DEBUG LINK #}
<div class="row">
  <div class="col-xs-12">
    <!-- PERSONS ACT -->
    <div class="persons">
      {% for role in multimediaObject.getRoles() if role.getDisplay() %}
        {% for person in multimediaObject.getPeopleByRole(role) %}
      <div>
        <div class="person">
          <span class="glyphicon glyphicon-user"></span> {{ role.getText() }}
          {{ person.getHName() }}
        </div>
        {{ person.getInfo() }}
      </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
<br>

<div class="row">
    <div class="col-sm-6">
        {% include 'PumukitWebTVBundle:MultimediaObject:share.html.twig' %}
    </div>
</div>
<br>

{% if not app.user %}
    <a href="{{ url('pumukit_auth') }}" type="button" class="login-button btn btn-xs btn-default" title="{% trans %}Log in{% endtrans %}">
        <span class="glyphicon glyphicon-log-in"></span>
            {% trans %}Log in{% endtrans %}
    </a>
    {% trans %} to add comments {% endtrans %}
{% endif %}
<link rel="stylesheet" href="{{ asset('bundles/pumukitcomment/css/comments.css') }}" type="text/css" />
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': multimediaObject.id} %}
