<!--INFO-->
<!--Multimedia object tags-->
<div class="row">
  {% include 'PumukitWebTVBundle:MultimediaObject:tags.html.twig' %}
</div>
<!--VIEWED/DATE-->
<div class="row">
  <div class="col-xs-12">
    <div class="date">
      {% if multimediaObject.getRecordDate()|date("Y") != "1970" %}
        {% trans %}Recording date{% endtrans %}: {{multimediaObject.getRecordDate().format("d/m/Y") }}
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="num_views">
      {% trans %}Viewed{% endtrans %}: {{multimediaObject.getNumview() }}
      {% if multimediaObject.getNumview() > 1 %} {% trans %} times {% endtrans %}
      {% else %} {% trans %} time {% endtrans %} {% endif %}
    </div>
  </div>
</div>

{# START DEBUG LINK #}
{% set url = multimediaObject.getTrackWithTag('display').getUrl()|default(false) %}
{% if url %}
<div class="row">
  <div class="col-xs-12">
    <a style="color:#337ab7" href="{{ url }}" target="_blank">{{ url }}</a>
  </div>
</div>
{% endif %}
{# END DEBUG LINK #}

<!--SUBTITLE/DESCRIPTION-->
<div class="row">
  <div class="col-xs-12">
    <div class="mmobj-title">
      <h4>{{ multimediaObject.getSubtitle() }}</h4>
    </div>
    <p class="description">{{ multimediaObject.getDescription() }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- PERSONS ACT -->
    <div class="persons">
      {% for role in multimediaObject.getRoles() if role.getDisplay() %}
        {% for person in multimediaObject.getPeopleByRole(role) %}
      <div>
        <div class="person">
          <span class="glyphicon glyphicon-user"></span> {{ role.getText() }}
          {{ person.getHName() }}
        </div>
        {{ person.getInfo() }}
      </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        {% include 'PumukitWebTVBundle:MultimediaObject:share.html.twig' %}
    </div>
</div>
<br>
